body {
    background-color: rgb(236, 219, 196);
    margin: 0;
}

header {
    background-color: #a3451f;
    text-align: center;
    padding: 2px;
    font-family: Impact;
    color: rgb(236, 219, 196);
    margin-bottom: 30px;
}

section{
    border-radius: 20px;      
    padding: 20px;
    margin: 30px;
    background-color: antiquewhite;
}

.redes{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    color: #a3451f;
}

footer {
    background-color: #a3451f;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-family: Tahoma;
    color: rgb(236, 219, 196);
}

h2 {
    font-family: Impact;
    color: #a3451f;
    text-transform: uppercase;
}
p {
    font-family: Tahoma;
}

img{
    width: 50%;
    height: auto;
    display: block;
    border-radius: 10px;
}
